:root {
  --primary-bg: #2f3135;
  --secondary-bg: #40464b;
  --border-color: #26282c;
  --primary-color: white;
  --secondary-color: gray;
  --highlight-color: #738adb;
  --active-color: #4fb185;
  --scrollbar-color: #888;
  --scrollbar-hover-color: #555;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: var(--primary-bg);
  overflow: auto;
  color: var(--primary-color);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  transition: all 0.3s;
}

.sidebar:hover {
  scrollbar-color: var(--scrollbar-hover-color) transparent;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px 20px;
  flex: 1;
  max-height: calc(100% - 30px);
  overflow-y: auto;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.sidebar__channelsList,
.sidebar__usersList {
  max-height: calc(50vh - 80px);
  overflow-y: auto;
  padding-right: 10px;
  transition: all 0.3s;
}

.sidebar__channelsList::-webkit-scrollbar,
.sidebar__usersList::-webkit-scrollbar {
  width: 8px;
}

.sidebar__channelsList::-webkit-scrollbar-thumb,
.sidebar__usersList::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

.sidebar__channelsList:hover::-webkit-scrollbar-thumb,
.sidebar__usersList:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-hover-color);
}

.sidebar__addChannel {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.sidebar__addChannel:hover {
  color: var(--highlight-color);
}

.sidebar__voice {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--primary-bg);
  padding: 10px;
  border-top: 1px solid var(--secondary-color);
}

.sidebar__voiceIcon,
.sidebar__voiceInfo > h3 {
  color: var(--active-color);
}

.sidebar__voiceIcons .voice-icon {
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.sidebar__voiceIcons .voice-icon:hover {
  transform: scale(1.1);
}

.sidebar__voiceInfo > p {
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__channelItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar__channelContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.sidebar__channelContent:hover {
  color: var(--primary-color);
  background-color: var(--secondary-bg);
}

.sidebar__logout {
  padding: 10px 20px;
}
